@tailwind base;
@tailwind components;
@tailwind utilities;

.retro2 {
  background: #4ab1f1;
  background: linear-gradient(
    to right,
    #4ab1f1 0%,
    #566cec 33%,
    #d749af 66%,
    #ff7c51 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sunset2-border {
  z-index: 2;
  position: relative;
}

.sunset2-border::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 24px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: #f06844;
  background: linear-gradient(
    to right,
    #f06844 0%,
    #ee4c54 25%,
    #d45e95 50%,
    #9c6ca6 75%,
    #6583c1 100%
  );
}

/* TODO: add animation/delay to button */

.sunset2 {
  background: #f06844;
  background: linear-gradient(
    to right,
    #f06844 0%,
    #ee4c54 25%,
    #d45e95 50%,
    #9c6ca6 75%,
    #6583c1 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sunset2:hover {
  color: #ffffff;
  background-color: transparent;

  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}

.sunset2:hover img {
  filter: brightness(100);
}
